<div class="container-fluid mt-4">
  <div class="container">
    <form
      #myForm="ngForm"
      (ngSubmit)="addData()"
      class="border border-1 border-primary p-3"
    >
      <h3 class="text-center">Users Data</h3>
      <label class="form-label" for="">Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        id="name"
        #name="ngModel"
        [(ngModel)]="formData.name"
        placeholder="Enter Name"
        required
        autocomplete="off"
      />
      <div>
        <small
          class="text-danger"
          *ngIf="name.errors?.['required'] && name.touched"
          >Email is required.</small
        >
      </div>
      <label class="form-label" for="">Role</label>
      <input
        type="text"
        class="form-control"
        name="role"
        id="role"
        #role="ngModel"
        [(ngModel)]="formData.role"
        placeholder="Enter Role"
        required
        autocomplete="off"
      />
      <div>
        <small
          class="text-danger"
          *ngIf="role.errors?.['required'] && role.touched"
          >Role is required.</small
        >
      </div>
      <div class="d-flex justify-content-start pt-3">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="myForm.invalid"
        >
          Submit
        </button>
        <a type="button" class="btn btn-info ms-2" (click)="cancel()">Cancel</a>
      </div>
    </form>
    @if(isSubmited){
    <div class="pt-3">
      <p class="alert bg-success text-light">User added successfully</p>
    </div>
    }@else if(isSubmitedupd) {
    <div class="pt-3">
      <p class="alert bg-success text-light">Update User successfully</p>
    </div>
    }

    <div class="container">
      <button class="btn btn-primary mt-2" (click)="fetchData()">
        Get data
      </button>
      <table class="table table-striped table-primary border border-black mt-3">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userData">
            <td>
              {{ user.id }}
            </td>
            <td>
              {{ user.name }}
            </td>
            <td>
              {{ user.role }}
            </td>
            <td>
              <button class="btn btn-info" (click)="editUser(user)">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button class="btn btn-danger ms-2" (click)="deleteUser(user.id)">
                <i class="fa-solid fa-delete-left"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
