<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ANGULAR</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            aria-current="page"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/directive" routerLinkActive="active"
            >Directives</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/databind" routerLinkActive="active"
            >Data-Bind</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/parent" routerLinkActive="active"
            >Parent/Child</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/form" routerLinkActive="active"
            >Form</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pipes" routerLinkActive="active"
            >Pipes</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ANGULAR</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            aria-current="page"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Automobile" routerLinkActive="active"
            >Automobile</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Mobiles" routerLinkActive="active"
            >Mobiles</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Bikes" routerLinkActive="active"
            >Bikes</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Electronics" routerLinkActive="active"
            >Electronics</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav> -->

